<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="GLORIAPI" version="2.5">
	<display-name>GLORIAPI</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/APIContext.xml</param-value>
	</context-param>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>jersey-servlet</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>eu.gloria.gs.services.api.resources</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
			<param-value>eu.gloria.gs.services.api.security.AuthFilter
			</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
			<param-value>eu.gloria.gs.services.api.security.ResponseCorsFilter
			</param-value>
		</init-param>
		<init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>jersey-servlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>mail-servlet</servlet-name>
		<servlet-class>eu.gloria.gs.services.api.mail.MailServlet</servlet-class>
		<init-param>
			<param-name>userAdapter</param-name>
			<param-value>userDataAdapter</param-value>
		</init-param>
		<init-param>
			<param-name>username</param-name>
			<param-value>adminUsername</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>adminPassword</param-value>
		</init-param>
		<init-param>
			<param-name>redirectUrl</param-name>
			<param-value>redirectUrl</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>mail-servlet</servlet-name>
		<url-pattern>/mail</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>eu.gloria.gs.services.api.mail.VerificationTask</listener-class>
	</listener>
	<env-entry>
		<env-entry-name>logback/context-name</env-entry-name>
		<env-entry-type>java.lang.String</env-entry-type>
		<env-entry-value>gloria-rest</env-entry-value>
	</env-entry>
</web-app>